/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Montserrat:300,400,700|Poppins:600|Roboto:300,400,700);

@font-face {
    font-family: MinionPro;
    src: url(fonts/MinionPro-Regular.otf);
}

/* WP Text Wrapping */
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.container {
	width: 1210px;
	max-width: 100%;
}

a {
	transition: all 0.3s ease 0s;
}

a:hover, a:focus, a:active {
	color: #dd7301;
	text-decoration: none !important;
	background: none;
}

a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #1a1a18;
}

.btn-default:active {
	background: #dd7301 !important;
	color: #fff !important;
	border-color: #dd7301 !important;
	box-shadow: none !important;
}

.wpcf7-form label {
	width: 100%;
}

.wpcf7-form input, .wpcf7-form textarea {
    width: 100%;
    max-width: 100%;
    border: solid 1px #edeeef;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
	font-weight: 300;
	line-height: 1.5625;
	transition: all 0.3s ease 0s;
}

.wpcf7-form input:hover, .wpcf7-form textarea:hover,
.wpcf7-form input:active, .wpcf7-form textarea:active,
.wpcf7-form input:focus, .wpcf7-form textarea:focus {
	border: solid 1px #f07c00;
}

.wpcf7-not-valid-tip {
	margin-bottom: 15px;
}

.wpcf7-submit {
    background: #f07c00;
    color: #fff;
}

.wpcf7-submit:hover {
	background: #fff;
	border: 1px solid #f07c00;
	color: #f07c00;
}

.owl-carousel .owl-item img {
	height: 320px;
	width: auto;
}


i.fa-facebook, i.fa-youtube, i.fa-envelope-o , i.fa-phone, i.fa-map-marker {
	font-size: 18px;
}

i.fa-facebook, i.fa-youtube {
	color: #fff;
}

i.fa-envelope-o, i.fa-phone, i.fa-map-marker {
	color: #f07c00;	
}

.title {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: #f07c00;
}

.page-title {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0;
	color: #f07c00;
	text-align: center;
	padding: 50px 0 0 0;
}

.btn-default {
	float: right;
	width: 275px;
	padding: 17px 0;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: #f07c00;
	border: 1px solid #f07c00;
	border-radius: 0;
	transition: all 0.3s ease 0s;
}

.btn-default:hover {
	background: #f07c00;
	border: 1px solid #f07c00;
	color: #fff;
}

.orange {
	color: #f07c00;
}

/* Header */
.menu-box {
	display: flex;
	align-items: center;
	margin-bottom: 120px;
}

.header {
	padding: 64px 0 112px 0;
	background-image: url(images/home-header-bg.png);
	background-position: 101% 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.header .container {
	position: relative;
}

.header .logo {
	float: left;
	max-width: 100%;
}

.hidden-menu-item {
	position: absolute;
	left: -58px;
	bottom: 0;
	width: 11px;
	height: 20px;
	z-index: 999;
}

.header .menu-item {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-right: 56px;
	text-transform: uppercase;
}

.header .menu-item:nth-child(3) {
	margin-right: 49px;
}

.header .menu-item:last-of-type {
	margin-right: 0;
}

.header .menu-item:hover {
	color: #f07c00;
}

.current-menu-item {
	color: #f07c00;
}

.header .menu {
	display: inline-block;
	position: relative;
	margin-left: 163px;
	margin-bottom: 11px;
}

.header .menu:before {
	position: absolute;
	content: '';
	left: -58px;
	bottom: 0;
	width: 4px;
	height: 20px;
	background: #f07c00;
}

.header .menu:after {
	position: absolute;
	content: '';
	left: -58px;
	bottom: 0;
	width: 11px;
	height: 4px;
	background: #f07c00;
}

.social {
	display: flex;
	margin-left: auto;
	margin-bottom: 5px;
}

.facebook {
	margin-right: 26px;
}

.header-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -1.5px;
	margin-bottom: 29px;
	margin-left: -3px;
}

.header-text {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.55;
	margin-bottom: 71px;
}

.header .list {
	padding: 0;
	margin-right: 218px;
}

.header .list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	text-align: left;
	padding: 12px 15px;
	border-top: 1px solid #cccccc;
} 

.header .list-item:nth-child(2) {
	padding: 9px 15px;
}

.header .list-item:nth-child(3) {
	padding: 14px 15px;
}

.header .list-item:last-of-type {
	padding: 19px 15px;
	border-bottom: 1px solid #cccccc;
}

.header .list-item img {
	margin-right: 20px;
}

.header .list-item p {
	font-size: 17px;
	font-weight: 300;
}

.header .taxi {
	padding-top: 10px;
}

.cert {
	position: absolute;
	bottom: -38px;
	right: 3px;
}

.visible .cert {
	display: none;
}

.header img {
	max-width: 100%;
}

.mobile-menu-box {
	display: none;
	overflow: auto;
}

.mobile-menu-icon {
	float: right;
	margin: 5px auto 0 auto;
	width: 35px;
	height: 35px;
	padding: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.mobile-menu-icon span {
	display: block;
	position: absolute;
	height: 7px;
	width: 100%;
	background: #f07c00;
	border-radius: 20px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.mobile-menu-icon span:nth-child(1) {
	top: 0;
}

.mobile-menu-icon span:nth-child(2), 
.mobile-menu-icon span:nth-child(3) {
	top: 14px;
}

.mobile-menu-icon span:nth-child(4) {
	top: 28px;
}

.mobile-menu-icon.open span:nth-child(1) {
	top: 14px;
	width: 0%;
	left: 50%;
}

.mobile-menu-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mobile-menu-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.mobile-menu-icon.open span:nth-child(4) {
	top: 14px;
	width: 0%;
	left: 50%;
}

.header .mobile-menu {
	display: none;
}

.mobile-menu.open {
	display: inline-block;
}

.mobile-menu-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
	text-align: right;
}

.header .mobile-menu .menu-item {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 15px 0;
}

.header .mobile-menu .menu-item:hover::after {
	width: 100%;
}

.header .mobile-menu .menu-item::after {
	position: absolute;
	content: '';
	bottom: -4px;
	left: 0;
	right: 0;
	width: 0;
	height: 2px;
	background: #f07c00;
	transition: all 0.3s ease 0s;
}


/* Aside */
.aside {
	font-size: 16px;
	font-weight: 300px;
	line-height: 1.625;
	padding: 104px 0 98px 0;
	background: #edeeef;
}

.text_home_1, .text_home_2, .text_home_3, .text_home_4 {
	font-weight: 300;
}

.text_home_1 {
	font-size: 22px;
	line-height: 1.45;
	margin-bottom: 24px;
}

.text_home_1, .text_home_2 {
	padding-right: 63px;
}

.text_home_3 {
	margin-bottom: 25px;
}

.text_home_3, .text_home_4 {
	padding-left: 58px;
}

/* Nasze produkty */
.products {
	padding: 81px 0 121px 0;
}

.products .title {
	margin-bottom: 60px;
}

.main-product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 45px !important;
	margin-right: 50px;
	border: 1px solid #eaeaea;
	max-width: 370px;
	height: 370px;
	padding: 0;
	transition: all 0.3s ease 0s;
}

.main-product:hover {
	border: 1px solid #f07c00;
}

.main-product:first-of-type:after {
	position: absolute;
	content: '';
	background: #f8f8f8;
	height: 100%;
	width: 1px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.main-product:nth-of-type(2):after {
	position: absolute;
	content: '';
	background: #f8f8f8;
	height: 100%;
	width: 1px;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}


.main-product:last-of-type:after {
	position: absolute;
	content: '';
	background: #f8f8f8;
	height: 100%;
	width: 1px;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}


.main-product:last-of-type {
	margin-right: 0;
}

.main-product .product-img {
	width: 100%;
}

.main-product .product-name {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: -8px;
	margin-left: 16px;
}

/* Aktualności */
.news {
	padding: 70px 0 58px 0;
	background: #edeeef;
}

.news .title {
	margin-bottom: 75px;
}

.main-post {
	font-weight: 300;
	max-width: 380px;
	margin-right: 35px;
	padding-right: 60px;
}

.main-post:nth-child(4) {
	margin: 0;
}

.main-post .post-title {
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: -0.2px;
	margin-bottom: 4px;
}

.main-post .post-date {
	font-size: 14px;
	letter-spacing: 0.1em;
	color: #f07c00;
	margin-bottom: 27px;
}

.main-post .post-lead {
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 1.625;
	margin-bottom: 24px;
}

.main-post .post-read-more {
	position: relative;
	font-size: 13px;
	letter-spacing: 0.17em;
	color: #f07c00;
	text-transform: uppercase;
}

.main-post .post-read-more:hover::after {
	width: 100%;
}

.main-post .post-read-more::after {
	position: absolute;
	content: '';
	bottom: -4px;
	left: 0;
	right: 0;
	width: 0;
	height: 1px;
	background: #f07c00;
	transition: all 0.3s ease 0s;
}

.news .read-more {
	display: inline-block;
	width: 100%;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 1.4px;
	color: #373736;
	margin-top: 65px;
	text-transform: uppercase;
}

.news i.fa-angle-down {
	margin-left: 10px;
	color: #373736;
}

/* Slider */
.slider {
	padding-top: 56px;
}

.slider .container {
	margin-bottom: 52px;
}

.slider .text-box .row {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.slider .text-box .row .title {
	margin-right: auto;
	margin-bottom: 5px;
	letter-spacing: -0.2px;
}

.slider .text-box .row .btn {
	margin-left: auto;
	margin-right: 3px;
	padding: 12px 0;
}

#realizations_slider {
	height: 320px;
}

.slider .owl-item {
	width: 320px;
	max-height: 320px;
}

/* Footer */
.phone-box, .email-box {
	display: inline-block;
	margin-left: -4px;
}

.phone-box {
	margin-right: 56px;
	margin-left: 19px;
}

i.fa-phone {
	font-size: 26px;
	margin-right: 12px;
}

i.fa-envelope-o {
	font-size: 32px;
	margin-right: 12px;
}

i.fa-map-marker {
	font-size: 14px;
	margin-right: 6px;
}

.footer .phone, .footer .email {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 300;
}

.footer .top {
	padding: 87px 0 101px 0;
	border-bottom: 1px solid #e6e6e6;
}

.address-box {
	margin-top: 37px;
}

.footer .address {
	display: inline-block;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.footer p, .footer a {
	font-size: 32px;
}

.bottom {
	padding: 43px 0 25px 0;
}

.bottom a {
	font-size: 15px;
	color: #b8b8b8;
}

.bottom .copy, .bottom .design {
	position: relative;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.2px;
	color: #b8b8b8;
}

.bottom .design {
	padding: 0 0 0 4px;
}

.bottom .copy {
	padding: 0 8px 0 0;
}

.bottom .copy:after {
	position: absolute;
	content: '';
	background: #b8b8b8;
	height: 15px;
	width: 2px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.bottom img {
	margin-top: 57px;
	margin-left: -13px;
	max-width: 100%;
}

.footer .bottom .text {
	width: 667px;
}

.footer .bottom .text p,
.footer .bottom .text a {
	font-size: 14px;
	text-align: left;
	color: #1a1a18;
}

/* Subpage banner */
.page-header {
	background: none;
	padding: 0;
	margin: 0;
	border-bottom: 0;
}

.page-header .menu-box {
	margin: 0;
	padding: 64px 0 32px;
}

.page-header i.fa-facebook, .page-header i.fa-youtube {
	color: #f07c00;
}

.banner-page {
	padding: 88px 0 72px 0;
	background-image: url(images/page-header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.title-page {
	font-family: 'Montserrat', sans-serif;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 15px;
	letter-spacing: -2.2px;
	margin-left: -3px;
	color: #fff;
}

.text-page {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	margin-left: -3px;
	letter-spacing: -0.9px;
}

.banner-page .cert {
	top: -2px;
	right: 5px;
	bottom: 0;
	margin: auto;
}

/* Products page */
.products-page {
	padding-top: 59px;
}
.products-page .product {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	margin-right: 35px;
	margin-bottom: 40px;
	padding: 35px;
	border: 1px solid #eaeaea;
	width: 275px;
	height: 275px;
	transition: all 0.3s ease 0s;
}

.products-page .product:hover {
	border: 1px solid #f07c00;
}

.products-page .product:nth-child(4n) {
	margin-right: 0;
}

.products-page .product-img {
	max-width: 100%;
/*	margin-bottom: 44px;*/
	margin-left: 9px;
}

.products-page .product-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: -7px;
	margin-left: 7px;
}

.products-filter {
	text-align: center;
	margin: 0 0 50px 0;
}

.products-filter .btn {
	background: none;
	border-color: #f07c00;
	color: #f07c00;
	font-size: 16px;
	border-width: 2px;
	border-radius: 0;
	margin: 0 15px 0 0;
	padding: 10px 20px;
	transition: all 0.3s ease-in-out;
}

.products-filter .btn:last-of-type {
	margin: 0;
}

.products-filter .btn:hover,
.products-filter .btn.active {
    background-color: #f07c00;
    border-color: #f07c00;
    color: #ffffff;
}

/* Product page */

.product-page .product-img:nth-child(odd) {
	text-align: left;
}

.product-page .product-img img:nth-child(odd) {
	margin-left: 6px;
} 

.product-page .product-img:nth-child(even) {
	text-align: right;
}

.product-page .product-img img:nth-child(even) {
	margin-right: 18px;
}

.product-specs {
	margin-bottom: 65px;
}

.product-specs .text-box {
	text-align: left;
	font-weight: 300;
	letter-spacing: 1.1px;
	max-width: 380px;
	margin-right: 30px;
	margin-left: 5px;
	padding-right: 23px;
}

.product-specs .text-box:first-of-type {
	/*margin-left: 5px;*/
}

.product-specs .text-box:nth-child(3) {
	margin: 0;
}

.product-specs .text-box:last-of-type {
	margin-top: -156px;
}

.product-specs .text-box .desc {
	line-height: 25px;
}

.product-specs .title,
.product-price .title {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0;
	color: #f07c00;
}

.product-specs .title {
	margin-bottom: 26px;
}

.product-price {
	background: #ebebeb;
	padding: 47px 40px 38px 40px;
	margin-bottom: 34px;
}

.product-specs .title, 
.product-price .title {
	width: 100%;
}

.product-price .single-price,
.accessory-box	.single-accessory {
	padding: 0;
}

.product-price .single-price:last-of-type {
	padding-left: 50px;
}

.product-price .accessory-box {
	padding-left: 72px;
}

.accessory-box	.single-accessory:nth-child(4) {
	margin-top: 25px;
}

.product-price .title {
	margin-bottom: 25px;
}

.product-price .sub-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 27px;
}

.product-price .desc {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5625;
}

.hidden {
	display: none;
}

/* Single */
.single {
	padding-top: 50px;
}

.single .title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.4;
	letter-spacing: -0.2px;
	color: #f07c00;
}

.single .date {
	font-size: 14px;
	letter-spacing: 0.1em;
	color: #ccc;
}

.single .content {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.1px;
	line-height: 1.625;
	padding: 25px 0;
}

.single .content h2 {
	margin-bottom: 20px;
}

.single .content p {
	margin-bottom: 30px;
}

/* Archive */
.archive .main-post {
	margin-right: 0;
	margin-bottom: 50px;
}

.archive .main-post .row {
	padding: 0;
}

/* Single realizacje */
.gallery-title {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}

.gallery {
    margin-bottom: 25px !important;
}

.gallery-item {
	text-align: center;
	margin-bottom: 25px;
}

.gallery-item img {
	max-width: 280px;
	width: 100%;
	height: 280px;
}

/* Realizations page */

.realizations-list .realization {
	padding: 15px;
	height: auto;
}

.realizations-list .realization-img {
	margin-bottom: 15px;
	margin-left: 0;
}

.realizations-list .realization-title {
	margin-bottom: 0;
	margin-left: 0;
}

.error .title {
	text-align: center;
	width: 100%;
	color: #1a1a18;
}

.error .title:first-of-type {
	margin-bottom: 15px;
}

/* Contact */
.single .top {
	overflow: auto;
	margin-bottom: 25px;
}

.contact-details {
	text-align: left;
}

.contact-details p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5625;
}

.contact-details .title {
	font-size: 22px;
	color: #1a1a18;
}

.contact-details .subtitle {
	font-size: 18px;
	color: #1a1a18;
	margin-bottom: 10px;
}

.contact-details i.fa-phone,
.contact-details i.fa-envelope {
	font-size: 16px;
	margin-right: 5px;
	color: #f07c00;
}

#map {
	width: 100%;
	height: 400px;
	background-color: #b8b8b8;
	margin-bottom: 50px;
}



/* Cookies */
#cookies-message {
	margin: 0 auto;
	transform-style: preserve-3d;
	transform: translate3d(0, 0, 5px);
	left: 0;
	right: 0;
	padding: 10px 60px 10px 10px;
	color: #fff;
	position: fixed;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	bottom: 0;
	background-color: #000;
	z-index: 999;
}

#cookies-message p {
	display: inline-block;
	color: #fff;
	margin: 0 15px 0 0;
}
#cookies-message a {
	color: #b8b8b8;
}

#accept-cookies-checkbox {
	float: right;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}

#cookies-message span {
	background-color: #000;
	display: block;
	position: absolute;
	right: 25px;
	top: 0;
	line-height: 42px;
	text-align: center;
	font-size: 22px;
}

#cookies-message .fa-times {
	color: #fff;
}

/* Fancybox */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, 
.fancybox-wrap object, .fancybox-nav, .fancybox-nav span, 
.fancybox-tmp {
	padding:0;margin:0;border:0;outline:0;vertical-align:top
}
.fancybox-wrap {
	position:absolute;top:0;left:0;z-index:8020
}
.fancybox-skin {
	position:relative;background:#f9f9f9;color:#444;padding:0 !important;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px
	}
.fancybox-opened {
	z-index:8030
}
.fancybox-opened .fancybox-skin {
	-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)
	}
.fancybox-outer,.fancybox-inner {
	position:relative
}
.fancybox-inner {
	overflow:hidden
}
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling:touch
}
.fancybox-error {
	color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap
}
.fancybox-image, .fancybox-iframe {
	display:block;width:100%;height:100%
}
.fancybox-image {
	max-width:100%;max-height:100%
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image:url(http://lepolam.test.designum.pl/wp-content/uploads/2018/04/fancybox_sprite.png)}
#fancybox-loading {
	position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060
	}
#fancybox-loading div {
	width:44px;height:44px;background:url(http://lepolam.test.designum.pl/wp-content/uploads/2018/04/fancybox_loading.gif) center center no-repeat
}
.fancybox-close {
	position:absolute;top:0;right:0;width:36px;height:36px;cursor:pointer;z-index:8040
}
.fancybox-close:hover {
	background-image: url(http://lepolam.test.designum.pl/wp-content/uploads/2018/04/fancybox_sprite.png);
}
.fancybox-nav {
	position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url(//apartamenty.kielce.com/wp-content/themes/topapart/css/blank.gif);-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040
	}
.fancybox-prev {
	left:0
}
.fancybox-next {
	right:0
}
.fancybox-nav span {
	position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden
}
.fancybox-prev span {
	left:0;background-position:0 -36px
}
.fancybox-next span {
	right:0;background-position:0 -72px
}
.fancybox-nav:hover span {
	visibility:visible
}
.fancybox-tmp {
	position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important
}
.fancybox-lock {
	overflow:hidden !important;width:auto
}
.fancybox-lock body {
	overflow:hidden !important
}
.fancybox-lock-test {
	overflow-y:hidden !important
} 
.fancybox-overlay {
	position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:rgba(255,255,255,.8)
}
.fancybox-overlay-fixed {
	position:fixed;bottom:0;right:0
}
.fancybox-lock .fancybox-overlay {
	overflow:auto;overflow-y:scroll
}
.fancybox-title {
	visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050
}
.fancybox-opened .fancybox-title {
	visibility:visible
}
.fancybox-title-float-wrap {
	position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center
}
.fancybox-title-float-wrap .child {
	display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap
}
.fancybox-title-outside-wrap {
	position:relative;margin-top:10px;color:#fff
}
.fancybox-title-inside-wrap {
	padding-top:10px
}
.fancybox-title-over-wrap {
	position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image:url(http://lepolam.test.designum.pl/wp-content/uploads/2018/04/fancybox_sprite@2x.png);
		background-size:44px 152px
	}
	#fancybox-loading div {
		background-image:url(http://lepolam.test.designum.pl/wp-content/uploads/2018/04/fancybox_loading@2x.gif);
		background-size:24px 24px}
}

img.wp-smiley, img.emoji {
	display:inline !important;border:0 !important;box-shadow:none !important;height:1em !important;width:1em !important;margin:0 .07em !important;vertical-align:-.1em !important;background:none !important;padding:0 !important
}

/*html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;padding:0;line-height:100%;font-size:10px}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;margin:0;padding:0}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}img{vertical-align:middle}body{color:#000;font-size:17px;font-weight:300;line-height:1.7em;padding-top:49vw;font-family:'Lato',sans-serif}img{max-width:100%;height:auto}.nav>li>a:hover,.nav>li>a:focus{background:none;outline:0}::selection{color:#fff;background-color:#02b5cf}::-moz-selection{color:#fff;background-color:#02b5cf}input:focus,button:focus,select:focus,textarea:focus{outline:0}.absolute-link{position:relative}.absolute-link a{position:absolute;top:0;left:0;display:block;width:100%;height:100%;z-index:7}input:focus,button:focus,select:focus,textarea:focus{outline:0}a{text-decoration:none;color:#000}a:hover{text-decoration:none;color:#02b5cf}a:focus{text-decoration:none;outline:0}a:visited{text-decoration:none;outline:0}.offset-top-100{margin-top:100px}.offset-top{margin-top:50px}.offset-bottom{margin-bottom:50px}.offset-top-30{margin-top:30px}.offset-top-10{margin-top:10px}.p-top{padding-top:50px}.p-bottom{padding-bottom:50px}.p-top-30{padding-top:30px}.offset-bottom-60{margin-bottom:60px}.offset-bottom-30{margin-bottom:30px}.justify{text-align:justify}.text-right{text-align:right}.table{width:100%}.table td,.table th{padding:8px 6px;border-bottom:1px solid #f1f1f1}.table tr:hover{background-color:#f8f8f8;transition:.3s;-webkit-transition:.3s}.table{border-collapse:collapse;border-spacing:0}.table th{font-weight:700}input,select,textarea{width:100%;border:1px solid #c9c9c9;box-shadow:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:5px 6px;font-family:'Lato',sans-serif}input,select{height:30px;line-height:30px}h1,h2,h3,h4,h5,h6{margin:0;font-family:'Lato',sans-serif}strong{font-weight:700}button,input[type="submit"]{cursor:pointer;font-family:'Lato',sans-serif}p{margin:0}.menu-button{display:none;background:#02b5cf;color:#fff;border:0;margin:0;width:60px;height:60px;line-height:60px;text-align:center;box-shadow:none;border-radius:0}.mybg{background-position:center;background-repeat:no-repeat;background-size:cover;position:relative}.mybg>a{position:absolute;top:0;left:0;display:block;width:100%;height:100%;z-index:10}.menu-button{display:none;padding:0;background-color:#000;color:#fff;text-align:center;width:50px;height:50px;line-height:50px;border:0;font-size:25px;margin:0;padding:0;float:right}.menu-button .fa{vertical-align:middle;display:block}strong{font-weight:700}.zoomIt{position:relative;overflow:hidden}.zoomIt div,.zoomIt img{-webkit-transition:1s;transition:1s}.zoomIt:hover>div,.zoomIt:hover>img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1)}hr{margin:50px 0;border:0;height:1px;width:100%;background:#000}.video-responsive{overflow:hidden;padding-bottom:56.25%;position:relative;height:0}.video-responsive iframe{left:0;top:0;height:100%;width:100%;position:absolute}.vertical-helper{display:table;width:auto;margin:0 auto}.vertical-center{display:table-cell;vertical-align:middle}.wait1,.wait2,.wait3,.wait4{opacity:0}.row:before,.row:after,.container:before,.container:after{content:" ";display:table}.row:after,.container:after{clear:both}.row-margin{margin-left:-15px;margin-right:-15px}.lg20,.lg30,.lg40,.lg50,.lg60,.lg70,.lg80,.lg75,.lg25,.lg33,.lg66,.lg10,.lg90,.md20,.md30,.md40,.md50,.md60,.md70,.md80,.md75,.md25,.md33,.md66,.md10,.md90,.sm20,.sm30,.sm40,.sm50,.sm60,.sm70,.sm80,.sm75,.sm25,.sm33,.sm66,.sm10,.sm90,.xs20,.xs30,.xs40,.xs50,.xs60,.xs70,.xs80,.xs75,.xs25,.xs33,.xs66,.xs10,.xs90,.customw{display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:1px}.lg20,.lg30,.lg40,.lg50,.lg60,.lg70,.lg80,.lg75,.lg25,.lg33,.lg66,.lg10,.lg90{float:left}.lg100,.xs100,.sm100,.md100{width:100%;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.lg20{width:20%}.lg25{width:25%}.lg75{width:75%}.lg33{width:33.333%}.lg66{width:66.666%}.lg30{width:30%}.lg40{width:40%}.lg50{width:50%}.lg60{width:60%}.lg70{width:70%}.lg80{width:80%}.lg10{width:10%}.lg90{width:90%}.padding-15{padding-left:15px;padding-right:15px}.text-center{text-align:center}.container{display:block;position:relative;width:80vw;padding-left:15px;padding-right:15px;margin-left:auto;margin-right:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.pull-right{float:right}.themewidth{display:block;box-sizing:border-box;-webkit-box-sizing:border-box;padding-left:5vw;padding-right:5vw;margin:0 auto;width:100%}.button{display:inline-block;border:1px solid #000;box-sizing:border-box;-webkit-box-sizing:border-box;position:relative;text-transform:uppercase;-webkit-transition:.3s;transition:.3s;padding:10px 20px;text-align:center;background-color:#000;color:#fff;-webkit-box-shadow:none;box-shadow:none;text-shadow:none}.border-button{background-color:transparent;border:1px solid #000;color:#000}.white-button{background-color:#fff;color:#000;border-color:#fff}.standard-input{height:40px;line-height:40px;padding:0 8px}.standard-textarea{padding:8px;height:160px}.standard-input,.standard-textarea{display:block;width:100%;-webkit-box-shadow:none;box-shadow:none;border-radius:0;box-sizing:border-box;-webkit-box-sizing:border-box;background-color:#fff;border-radius:0;border:1px solid #000;text-align:left;font-weight:400;color:#000;font-size:15px}.banerpart{position:fixed;top:0;left:0}.centralcontent{z-index:5}.cc-holder{background-color:#fff;padding:50px}.footer{padding-top:30px;padding-bottom:30px;text-transform:uppercase;font-size:14px;color:#ccc;background-color:#fff;z-index:5}.footer a{color:#ccc}.bottom{padding-bottom:80px;background-image:url(//apartamenty.kielce.com/wp-content/themes/topapart/css/../images/bottom.jpg);background-repeat:no-repeat;background-position:center;background-attachment:fixed;text-align:center;color:#fff;margin-top:50px}.bottom .footerlogo{margin-top:-50px;display:block}.bottom:after{position:absolute;content:"";display:block;width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,0.8)}.bottom .border-button{color:#fff;border-color:#fff;margin-top:30px;font-size:22px}.bottom-content{position:relative;z-index:3;font-size:32px;line-height:1.3em}.bottom h3{margin-top:30px;font-size:48px;font-weight:700;line-height:1.4em}.header{position:fixed;top:0;left:0;z-index:999;transition:.3s;-webkit-transition:.3s}.header.scrolled{background-color:#303940}.main-menu ul{list-style-type:none;padding:0;float:right;margin:20px 0 0 0;display:table;transition:.3s;-webkit-transition:.3s}.header.scrolled .main-menu ul{margin:0}.logo img{position:absolute;top:0;left:15px;z-index:4;width:232px;transition:.3s;-webkit-transition:.3s}.header.scrolled .logo img{width:150px}.main-menu ul li{float:left}.main-menu ul li a{display:block;padding:20px;color:#fff;text-transform:uppercase;font-weight:700;font-size:17px;line-height:1.4em}.main-menu ul li#menu-item-25 a{border-top:1px solid #fff;border-bottom:1px solid #fff}.header.scrolled .main-menu ul li#menu-item-25 a{border:0;background-color:rgba(255,255,255,0.1)}.main-menu ul li.current-menu-item a{border:1px solid #fff}.contentonbaner{margin-top:-30vw;z-index:5;text-align:center;margin-bottom:50px}.contentonbaner h1{font-weight:700;font-size:56px;line-height:1.3em;color:#fff}.contentonbaner h1 span{display:block;font-weight:300;font-size:32px;line-height:1.3em;margin-bottom:4vw}.contentonbaner .border-button{border:1px solid #fff;color:#fff;margin-bottom:4vw}.padding-30{padding:30px}.whitebg{background-color:#fff}.cob-left{text-align:left}.cob-home{padding-top:15vw}.centralcontent h1,.centralcontent h2{font-size:46px;font-weight:300;line-height:1.3em}.centralcontent h1 strong,.centralcontent h2 strong{font-weight:700}.gridbox{margin-bottom:58px}.sectionheader{margin-bottom:50px}.txt-content p{margin-bottom:20px}.txt-content h2{font-size:28px;line-height:1.4em;font-weight:700;margin-bottom:30px}.txt-content h3{font-size:25px;font-weight:700;line-height:1.4em;margin-bottom:30px}.cob-left h2{font-weight:300;line-height:1.3em;font-size:50px;margin-bottom:30px}.cob-right img{width:100%}.row-one{margin-top:50px}.row-txt{padding:50px;background-color:#999;color:#fff}.row-txt a{color:#fff}.row-txt h3{font-weight:300;line-height:1.3em;font-size:50px;color:#fff;margin-bottom:30px}.row-photo img{width:100%}.cob-singe-txt,.cob-singe-txt h2,.cob-singe-txt a{color:#fff}.gridbox{padding-left:25px}.gridbox .gridlabel{position:absolute;bottom:0;left:0}.gridbox a,.cob-right a{position:relative;display:block}.gridbox a:after,.cob-right a:after{content:"Zobacz więcej";position:absolute;top:50%;left:0;right:0;margin:0 auto;display:block;width:150px;height:50px;line-height:50px;text-align:center;opacity:0;color:#fff;border:1px solid #fff;transition:.3s;-webkit-transition:.3s;z-index:3}.cob-right a:after{content:"Zobacz galerię"}.gridbox a:before,.cob-right a:before{content:"";position:absolute;top:0;opacity:0;left:0;display:block;width:100%;height:100%;transition:.3s;-webkit-transition:.3s;z-index:2;background-color:rgba(0,0,0,0.6)}.gridbox a span.underbutton{position:absolute;top:50%;left:0;right:0;margin:-50px auto 0 auto;display:block;width:100%;height:50px;line-height:50px;text-align:center;opacity:0;color:#fff;transition:.3s;-webkit-transition:.3s;z-index:3}.gridbox a span.abovebutton{position:absolute;top:50%;left:0;right:0;margin:-80px auto 0 auto;display:block;width:100%;font-size:20px;line-height:1.3em;height:50px;line-height:50px;text-align:center;opacity:0;text-transform:uppercase;color:#fff;transition:.3s;-webkit-transition:.3s;z-index:3}.gridbox a:hover:after,.gridbox a:hover:before,.cob-right a:hover:after,.cob-right a:hover:before,.gridbox a:hover span.underbutton,.gridbox a:hover span.abovebutton{opacity:1}.gallerybox{display:flex;flex-wrap:wrap;margin-bottom:30px}.gallerybox img{flex-grow:1;object-fit:cover;height:200px}.galleryrow{margin-top:30px}@media(max-width:1400px){.contentonbaner h1{font-size:45px}.contentonbaner h1 span{font-size:26px}.cob-home{padding-top:12vw}.centralcontent h1,.centralcontent h2{font-size:40px}.container{width:90vw}}@media(max-width:1270px){.md100{width:100%}.md20{width:20%}.md25{width:25%}.md75{width:75%}.md33{width:33.333%}.md66{width:66.666%}.md30{width:30%}.md40{width:40%}.md50{width:50%}.md60{width:60%}.md70{width:70%}.md80{width:80%}.md10{width:10%}.md90{width:90%}.md20,.md30,.md40,.md50,.md60,.md70,.md80,.md75,.md25,.md33,.md66,.md10,.md90{float:left}.bottom h3{font-size:35px}.bottom{font-size:25px}.main-menu ul li a{padding:20px 15px}.row-txt h3{font-size:36px;margin-bottom:30px;line-height:1.4em}.cob-left h2{font-size:40px}.gridbox .gridlabel{width:12px}}@media(max-width:992px){.sm100{width:100%}.sm20{width:20%}.sm25{width:25%}.sm75{width:75%}.sm33{width:33.333%}.sm66{width:66.666%}.sm30{width:30%}.sm40{width:40%}.sm50{width:50%}.sm60{width:60%}.sm70{width:70%}.sm80{width:80%}.sm10{width:10%}.sm90{width:90%}.sm20,.sm30,.sm40,.sm50,.sm60,.sm70,.sm80,.sm75,.sm25,.sm33,.sm66,.sm10,.sm90{float:left}.container{width:100%}.cc-holder{padding:30px 0}.centralcontent{background-color:#fff}.centralcontent h1,.centralcontent h2{font-size:35px;margin-bottom:30px}.main-menu ul li a{font-size:15px;padding:20px 10px}.cob-home{padding-top:8vw}.cob-left .padding-30{padding:20px}.cob-left .cob-singe-txt{padding:30px}.row-txt h3{font-size:28px;margin-bottom:30px;line-height:1.4em}}@media(max-width:767px){.xs100{width:100%}.xs20{width:20%}.xs25{width:25%}.xs75{width:75%}.xs33{width:33.333%}.xs66{width:66.666%}.xs30{width:30%}.xs40{width:40%}.xs50{width:50%}.xs60{width:60%}.xs70{width:70%}.xs80{width:80%}.xs10{width:10%}.xs90{width:90%}.xs20,.xs30,.xs40,.xs50,.xs60,.xs70,.xs80,.xs75,.xs25,.xs33,.xs66,.xs10,.xs90{float:left}.container{padding-left:15px;padding-right:15px}.hidden-xs{display:none}.xs-offset-top{margin-top:30px}.cob-home{padding-top:0}.header{position:fixed;background-color:#fff;padding-top:10px;padding-bottom:10px}.logo{width:85px;position:absolute;top:0;left:0;z-index:4;margin:0}.menu-button{display:block}.main-menu ul{display:none;width:100%;text-align:center;clear:both;padding-top:10px;padding-bottom:10px}.main-menu ul li{float:none}.main-menu ul li a{display:block;padding:10px;color:#000}.banerpart{display:flex;flex-wrap:wrap;top:70px}.banerpart img{height:70vw;flex-grow:1;object-fit:cover}.contentonbaner{margin-top:-55vw}.cob-left .padding-30{padding:30px 0 0 0}.cob-home{background-color:#fff}.contentonbaner .border-button{margin-bottom:30px}.contentonbaner h1 span{margin-bottom:30px;font-size:5vw}.contentonbaner h1{font-size:10vw;line-height:1.2em}body{padding-top:80vw}.cob-right{background-color:#fff}.cob-left .cob-singe-txt{padding:30px}.banerpart{position:absolute}.gallerybox img{height:40vw}}.centerMe{margin:0 auto;float:none}
*/

/*---------- RWD ----------*/
@media only screen and (max-width : 1740px) {

	.header-text {
	    margin-bottom: 30px;
	}

	.header .logo {
		margin-bottom: 25px;
	}

	.header .menu {
        margin-left: 123px;
	    margin-bottom: 15px;
	    width: 100%;
	}

	#realizations_slider {
		max-height: 320px;
		height: auto;
	}

}

@media only screen and (max-width : 1480px) {

	.header {
    	background-position: 160% 0;
	}

	.taxi-img {
		width: 80%;
	}
}


@media only screen and (max-width : 1366px) {

	.header {
    	background-position: 180% 0;
	}

	.main-product,
	.main-post {
		max-width: 33%;
		margin-right: 0.5%
	}

	.main-product:last-of-type,
	.main-post:last-of-type {
		margin-right: 0;
	}

	.products .title,
	.news .title {
		width: 100%;
	}

	.main-product {
		height: 320px;
	}

	.main-product .product-name {
		margin: 0;
	}

	.products-page .product {
		width: 23%;
		margin: 0 2% 15px 0;
		padding: 15px;
		justify-content: space-evenly;
		text-align: center;
	}

	.products-page .product:nth-child(4n) {
		margin-right: 0;
	}

	.product-page .product-img:nth-child(odd),
	.product-page .product-img:nth-child(even) {
	    text-align: center;
	}
	    	

	.product-page .product-img img:nth-child(odd) {
		margin-left: 0;
		max-width: 100%;
	}

	.product-specs .text-box {
	    margin-bottom: 25px;
	    width: 48%;
	    max-width: 48%;
	    margin: 0 1% 25px 1%;
	    padding: 0 25px;
	}

	.product-specs .text-box:nth-child(3) {
		margin: 0 1% 25px 1%;
	}

	.product-specs .text-box:last-of-type {
	    margin-top: 0;
	}


}

@media only screen and (max-width : 1240px) {

	.header {
	    background-position: 230% 0;
	}

	.visible .row,
	.aside,
	.products,
	.news,
	.footer .top,
	.banner-page,
	.slider .text-box,
	.single .row,
	.menu-box,
	.page-header .menu-box,
	.products-page {
		padding-left: 25px;
		padding-right: 25px;
	}

}

@media only screen and (max-width : 1200px) {

	/* Header */

	.header {
	    background-position: 150% 0;
	}

	.page-header {
		padding: 64px 0 0 0;
	}

	.page-header .menu-box {
        margin-bottom: 20px;
        padding-top: 0;
        padding-bottom: 0;
	}

	.menu-box {
		margin-bottom: 20px;
	}

	.header .list {
		margin-right: 168px;
	}

	.header .menu:before,
	.header .menu:after {
		left: -38px;
	}

	.hidden-menu-item {
		left: -38px;
	}

	.header .menu-item,
	.header .menu-item:nth-child(3) {
	    margin-right: 4%;
	}

	.facebook {
	    margin-right: 16px;
	}


}

@media only screen and (max-width : 1150px) {

	.header {
	    background-position: 220% 0;
	}

}


@media only screen and (max-width : 1060px) {

	.header {
	    background-position: 300% 0;
	}

	.header .list {
	    margin-right: 160px;
	}

}

@media only screen and (max-width : 1040px) {

	.header {
	    background-position: 380% 0;
	}

	.header .list {
	    margin-right: 150px;
	}
}

@media only screen and (max-width : 1020px) {

	.header {
	    background-position: 450% 0;
	}

	.header .list {
	    margin-right: 120px;
	}
}

@media only screen and (max-width : 991px) {

	.menu-box {
		flex-direction: column;
		align-items: center;
	}

	.visible {
		display: block;
	}

	.header {
	    background-image: none;
	    padding: 50px 0 0 0;
	}

	.header .taxi {
		display: inline-block;
		background-image: url(images/home-header-bg.png);
		background-position: 100% 0;
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
	    padding-top: 50px;
	    padding-bottom: 50px;
	}

	.header img {
		max-width: 50%;
	}

	.taxi-img {
		width: 45%;
		margin: 0 auto;
	}

	.header .menu {
		width: 100%;
		margin: 0 0 15px 0;
		text-align: center;
	}

	.header .menu:before,
	.header .menu:after {
		content: none;
	}

	.header .menu-item {
		font-size: 14px;
	}

	.header .menu-item:last-of-type {
		margin-right: 5%;
	}

	.banner-page {
		padding: 50px 25px;
	}

	.social {
		margin-left: 0;
	}

	i.fa-facebook, i.fa-youtube {
		color: #f07c00;
	}

	.desktop-cert {
		display: none;
	}

	.visible .cert {
		display: block;
	}

	.cert {
		bottom: 5px;
		right: 5px;
		width: 25%;
	}

	.header-title {
		font-size: 46px;
		margin: 0 0 15px 0;
	}

	.header-text {
		margin: 0 0 25px 0;
	}

	.header .list {
		padding: 0;
		margin-right: 0;
	}

	.visible .row,
	.aside,
	.products,
	.news,
	.footer .top {
		padding: 50px 25px;
	}

	.main-post {
	    padding: 0 45px !important;
	}

	.slider {
		padding-top: 50px;
	}

	.slider .text-box {
	    padding: 0 25px;
	}

	.title {
		margin: 0;
		padding: 0;
	}

	.text_home_1, .text_home_2, .text_home_3, .text_home_4 {
		margin: 0 0 15px 0;
		padding: 0;
	}

	.products-page {
		padding: 50px 25px;
	}

	.product-page .product-photos {
		padding: 50px 0 0 0;
	}

	.product-specs {
	    padding: 50px 0 0 0;
	    margin-bottom: 50px;
	}

	.price-box {
		padding: 0;
		margin-bottom: 25px;
	}

	.single-price, .single-accessory {
		width: 50%;
		padding: 0;
	}

	.product-price .accessory-box {
	    padding-left: 0;
	}

	.product-price .single-price:last-of-type {
		padding: 0;
	}

	.single .row {
		padding: 0 25px;
	}

}

@media only screen and (max-width : 768px) {

	/* Header */
	.header {
		padding: 50px 0;
	}

	.header .logo {
		margin: 0 0 25px 0;
	}

	.header .menu-item {
		margin: 0 2.5% 0 0;
	}

	.header .menu-item:last-child {
		margin: 0;
	}

	.footer .top {
		padding: 50px 0;
	}

	.address-box {
		display: flex;
		flex-direction: row;
	    justify-content: center;
		margin-top: 25px;
	}

	.footer .phone, .footer .email {
		font-size: 22px;
	}

	i.fa-map-marker {
		font-size: 32px;
	}

	.banner-page {
		text-align: center;
		padding: 50px 0;
	}

	.banner-page .text-page {
		margin-bottom: 25px;
	}

	.banner-page .cert {
		position: relative;
		top: 0;
		right: 0;
	}

	.main-post {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}

	.main-product {
		height: 250px;
	}

	.main-product .product-img {
		max-width: 80%;
		width: auto;
	}

	.products-page .product {
		width: 48%;
		height: 250px;
		margin: 0 1% 15px 1%;
        justify-content: center;
        padding: 15px;
	}

	.products-page .product-img {
		max-height: 180px;
	}

	.single {
		padding-top: 0;
	}

	.archive .main-post {
		margin-bottom: 25px;
		padding: 0 !important;
	}

	.contact-details {
		margin-bottom: 25px;
	}

	.realizations-list .realization-img {
		max-height: 180px;
	}

	.product-price .single-price,
	.accessory-box	.single-accessory {
		padding: 0 15px;
	}

	.accessory-box .single-accessory:nth-child(4) {
	    margin-top: 0;
	}

	.page-title {
		font-size: 28px;
		padding: 25px 0 0 0;
	}

	.gallery-item {
		width: 50% !important;
	}

	.gallery-item img {
		height: 200px;
	}

}


@media only screen and (max-width : 550px) {

	.products-filter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 0 50px 0;
	}

	.products-filter .btn {
		margin: 0 0 15px 0;
		width: 170px;
	}

}

@media only screen and (max-width : 480px) {

	body {
		text-align: center;
	}

	.header {
		padding: 25px 0;
	}

	.header .logo {
		width: 50%;
		margin: 0;
	}

	.header .taxi {
		padding-top: 50px;
	    padding-bottom: 50px;
	}

	.taxi-img {
		width: 40%;
		margin-left: 25%;
		margin-bottom: 0;
	}

	.banner-page {
		padding: 25px;
	}

	.footer .phone, .footer .email {
		font-size: 18px;
	}

	.address-box {
		margin-top: 15px;
	}

	i.fa-envelope-o , i.fa-phone, i.fa-map-marker {
		font-size: 22px;
	}

	.menu-box {
		display: none;
	}

	.header .menu {
		padding: 25px 0 0 0;
		margin: 0;
	}

	.mobile-menu-box {
		display: block;
		margin-bottom: 25px;
		padding: 0 25px;
	}

	.social {
		display: inline-block;
	}

	.page-header i.fa-facebook, .page-header i.fa-youtube {
		font-size: 22px;
	}

	.visible .row, .aside, .products, .news, .footer .top {
		padding: 25px;
	}

	.products .title, .news .title {
	    margin-bottom: 25px;
	}

	.main-product {
		max-width: 100% !important;
		width: 100%;
		height: 100%;
		margin: 0 0 15px 0;
	}

	.main-product .product-img {
	    max-width: 50%;
	    width: auto;
	    margin-bottom: 20px;
	}

	.main-post {
		text-align: center;
		margin: 0 0 25px 0;
	}

	.main-post .post-date,
	.main-post .post-lead {
		margin: 0 0 10px 0;
	}

	.news .read-more {
		margin-top: 35px;
	}

	.product-page .product-photos {
		padding: 25px 0 0 0;
	}

	.products-page {
		padding: 25px;
	}

	.product-specs {
	    padding: 25px;
	    margin-bottom: 0;
	}

	.products-page .product {
	    max-width: 100%;
	    width: 100%;
        height: auto;
	}

	.products-page .product-img {
		max-width: 50%;
	    margin-bottom: 15px;
	    margin-left: 0;
	}

	.products-filter .btn {
		margin: 0 0 15px 0;
		width: 100%;
	}

	.product-specs .text-box {
		width: 100%;
		max-width: 100%;
		text-align: center;
	}

	.product-specs .title {
		margin-bottom: 25px;
	}

	.product-price {
		padding: 25px;
	    margin: 0 -15px;
	}

	.product-price .title {
	    margin-bottom: 25px;
	}

	.product-price .sub-title {
	    margin-bottom: 15px;
	}

	.single-price, .single-accessory {
	    width: 100%;
	    padding: 0;
	    margin: 0 0 15px 0;
	}

	.slider {
		padding-top: 25px;
	}

	.slider .container {
	    margin-bottom: 25px;
	}

	.slider .text-box .row {
		flex-direction: column;
		align-items: center;
	}

	.slider .text-box .row .title {
		margin: 0 0 25px 0;
	}

	.slider .text-box .row .btn {
		margin: 0;
	}

	.footer .top {
		padding: 25px 0;
	}

	.bottom {
		padding: 25px 0;
	}

	.bottom .copy:after {
		content: none;
	}

	.bottom .copy {
		padding: 0;
	}

	.bottom img {
		margin-top: 15px;
		margin-left: 0;
	}

	.gallery-item {
		width: 100%;
	}

	.page-title {
		padding: 25px 0;
	}

	.gallery-item {
		width: 100% !important;
	}

	#cookies-message {
		padding: 15px;
	}

	#cookies-message span {
		position: static;
	}

	#cookies-message p {
		margin: 0;
	}

	#accept-cookies-checkbox {
		float: none;
	}

	.realizations-list .realization {
		height: auto;
	}

	#map {
		margin-bottom: 25px;
		height: 250px;
	}

	/* RWD - fonts */

	.mobile-menu-box h2 {
		font-size: 18px;
	}

	.header-title {
	    font-size: 36px;
	}

	.header-text {
	    font-size: 16px;
	}

	.header .list-item p {
	    font-size: 15px;
	    font-weight: 300;
	}

	.text_home_1 {
	    font-size: 18px;
	}

	.text_home_2, .text_home_3, .text_home_4 {
		font-size: 14px;
	}

	.title,
	.products .title, 
	.news .title,
	.slider .text-box .row .title {
		font-size: 22px;
	}

	.main-product .product-name,
	.products-page .product-title {
		font-size: 14px;
	}

	.main-post .post-title {
		font-size: 16px;
	}

	.main-post .post-date {
		font-size: 12px;
	}

	.main-post .post-lead {
		font-size: 14px;
	}

	.slider .text-box .row .btn {
		padding: 10px 0;
		font-size: 14px;
	}

	.title-page {
		font-size: 32px;
	}

	.banner-page .text-page {
		font-size: 15px;
	}
	

	.product-specs .title, .product-price .title {
		font-size: 22px;
	}

	.product-specs .text-box .desc {
		font-size: 14px;
	}

	.product-price .sub-title {
		font-size: 15px;
	}

	.product-price .desc {
		font-size: 14px;
	}

	.price-box {
		margin-bottom: 15px;
	}

	.single .title {
		font-size: 22px;
	}

	.single .date {
		font-size: 12px;
	}

	.single .content {
		font-size: 14px;
	}

}

@media only screen and (max-width : 380px) {

	.header .logo {
		width: 65%;
	}

	.products-page .product,
	.realizations-list .realization {
		height: auto;
	}

	.products-page .product-img {
	    max-width: 50%;
	}	

	.taxi-img {
	    margin-left: 20%;
	}

	/* RWD - fonts */

	.mobile-menu-box h2 {
		font-size: 16px;
	}

	.header-title {
	    font-size: 28px;
	}

	.header-text {
	    font-size: 15px;
	}

	.header .list-item p {
	    font-size: 14px;
	}

	.text_home_1 {
	    font-size: 16px;
	}

	.text_home_2, .text_home_3, .text_home_4 {
		font-size: 13px;
	}

	.title,
	.products .title, 
	.news .title,
	.slider .text-box .row .title {
		font-size: 20px;
	}

	.main-product .product-name,
	.products-page .product-title {
		font-size: 13px;
	}

	.main-post .post-title {
		font-size: 15px;
	}

	.main-post .post-date {
		font-size: 12px;
	}

	.main-post .post-lead {
		font-size: 13px;
	}

	.slider .text-box .row .btn {
		padding: 10px 0;
		font-size: 13px;
	}

	.footer .phone, .footer .email, .footer .address {
	    font-size: 15px;
	}

	i.fa-envelope-o, i.fa-phone, i.fa-map-marker {
		font-size: 18px;
	}

	.banner-page .text-page {
		font-size: 14px;
	}
	

	.product-specs .title, .product-price .title {
		font-size: 20px;
	}

	.product-specs .text-box .desc {
		font-size: 13px;
	}

	.product-price .sub-title {
		font-size: 14px;
	}

	.product-price .desc {
		font-size: 13px;
	}

	.price-box {
		margin-bottom: 15px;
	}

}
